DIV#menu
{
	height: 52px;
	padding-left: 6px;
	background: url(images/left.png) no-repeat;
	width: auto;
}
DIV#menu UL
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
DIV#menu UL.menu
{
	padding-right: 6px;
}
DIV#menu LI
{
	position: relative;
	margin: 0;
	padding: 0 0px 0 0;
	display: block;
	float: left;
	z-index: 9;
	width: auto;
}
DIV#menu UL UL LI
{
	z-index: 9;
}
DIV#menu LI DIV
{
	list-style: none;
	float: left;
	position: absolute;
	z-index: 11;
	top: 52px;
	left: 0;
	visibility: hidden;
	width: 180px;
	margin: 0px 0 0 -4px;
	padding: 0;
	background: url(images/subsubmenu-top.png) no-repeat 0px 0;
}
DIV#menu UL UL
{
	z-index: 12;
	padding: 0px 4px 10px;
	background: url(images/submenu-bottom.png) no-repeat 0px bottom;
	margin: 10px 0 0;
}
DIV#menu LI:hover>DIV
{
	visibility: visible;
}
DIV#menu A
{
	position: relative;
	z-index: 10;
	height: 50px;
	display: block;
	float: left;
	line-height: 50px;
	text-decoration: none;
	margin-top: 1px;
	white-space: nowrap;
	width: auto;
	padding-right: 5px;
	text-align: center;
}
DIV#menu SPAN
{
	margin-top: 2px;
	padding-left: 15px;
	color: #FFF;
	font: normal 12px Verdana, Arial, FreeSans, sans-serif;
	background: none;
	line-height: 50px;
	display: block;
	cursor: url(images/link.cur), text;
	background-repeat: no-repeat;
	background-position: 95% 0;
	text-align: center;
}
/*menu::level1*/
DIV#menu A
{
	padding: 0 10px 0 0;
	line-height: 50px;
	height: 52px;
	margin-right: 5px;
	background: none;
	text-transform: uppercase;
}
DIV#menu A:hover
{
	background: url(images/selected-right-sub.png) no-repeat right -1px;
}
DIV#menu A:hover SPAN
{
	background: url(images/selected-left-sub.png) no-repeat 0 -3px;
}
DIV#menu LI.current A, DIV#menu UL.menu>LI:hover>A
{
	background: url(images/selected-right-sub.png) no-repeat right -1px;
}
DIV#menu LI.current A SPAN, DIV#menu UL.menu>LI:hover>A SPAN
{
	background: url(images/selected-left-sub.png) no-repeat 0 -3px;
}
DIV#menu UL.menu>LI:hover>A SPAN
{
	color: #07B3E1;
}
DIV#menu LI
{
}
DIV#menu LI.last
{
	background: none;
}
/*menu::level2*/
DIV#menu UL UL LI
{
	background: none;
	padding: 0;
}
DIV#menu UL UL A
{
	padding: 0px;
	height: auto;
	float: none;
	display: block;
	line-height: 25px;
	font-size: 12px;
	color: #FFF;
	z-index: -1;
	padding-left: 5px;
	white-space: normal;
	width: 152px;
	margin: 0 8px;
	text-transform: none;
}
DIV#menu UL UL A SPAN
{
	padding: 0 5px;
	line-height: 25px;
	font-size: 12px;
}
DIV#menu LI.current UL A, DIV#menu LI.current UL A SPAN
{
	background: none;
}
DIV#menu UL UL A:hover
{
	background: none;
	background-color: #004054;
}
DIV#menu UL UL A:hover SPAN
{
	background: none;
	color: #07B3E1;
}
DIV#menu UL UL A.parent
{
	background: url(images/submenu-pointer.png) no-repeat right bottom;
}
DIV#menu UL UL A.parent SPAN
{
	background: none;
}
DIV#menu UL UL A.parent:hover
{
	background: url(images/submenu-pointer.png) no-repeat right bottom;
	background-color: #004054;
}
DIV#menu UL UL A.parent:hover SPAN
{
	background: none;
}
DIV#menu UL UL SPAN
{
	margin-top: 0;
	text-align: left;
}
DIV#menu UL UL LI.last
{
	background: none;
}
DIV#menu UL UL LI
{
	width: 100%;
}
/*menu::level3*/
DIV#menu UL UL DIV
{
	width: 180px;
	padding: 0;
	margin: -62px 0 0 165px !important;
}
DIV#menu UL UL UL
{
	padding: 10px 4px 0;
}
DIV#menu UL UL DIV LI
{
	position: relative;
	top: -10px;
}
/*lava lamp*/
DIV#menu LI.back
{
	background: url(images/selected-left-sub.png) no-repeat 0 0;
	width: 5px;
	height: 52px;
	z-index: 8;
	position: absolute;
	padding: 0;
	margin: 0px 0 0;
}
DIV#menu LI.back .left
{
	padding: 0;
	width: auto;
	background: url(images/selected-right-sub.png) no-repeat right 0;
	height: 52px;
	margin: 0 0 0 5px;
	float: none;
	position: relative;
	top: 0;
	left: 0;
	visibility: visible;
}
#bgmenu
{
	background: url(images/right.gif) repeat-x;
}
#languages
{
}
