html {
cursor: url("images/normal.cur"), text;
}
body {
	background: #207D90 url('images/background.png') repeat-x;
	background-position: top center;
	text-align: center;
	font: 12px/125% 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	width: 960px;
	height: auto;
	margin: 0 auto;
}
img {
	border: 0;
}
a:hover{
	cursor: url("images/link.cur"), text;
}
input, textarea {
	cursor: url("images/text.cur"), text;
}
.clear {
	clear: both;
}
/* Header */
#reg {
	background: #fff;
	height: 20px;
	color: black;
}
#reg a{
	color: black;
	text-decoration: none;
}
#reg a:hover {
	font-weight: bold
}
#header {
	background: url('images/header.png') no-repeat;
	height: 210px;
	width: 960px;
}
/* Lang Buttons */

#fontlang {
	background: url('images/fotnlang.png') no-repeat;
	width: 50px;
	height: 50px;
	float: right;
}
#searchlang {
	background: url('images/searchlang.png') no-repeat;
	width: 50px;
	height: 50px;
	float: right;
	cursor: url("images/link.cur"), text;
}
#search {
	width: 150px;
	height: 18px;
	font-size: 11px;
	padding-left: 5px;
	font-weight: bold;
	border: 1px solid #afafaf;
}
#page {
	width: 920px;
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
	background: #fff;
}
/* Content */
#content {
	float: left;
	width: 620px;
} 
.post {
	height: auto;
	width: 580px;
	margin-bottom: 20px;
	padding: 10px 20px;
	background: #FFFFFF;
	border: 1px solid #8D9AB0;
	text-align: left;
	background: #fff url('images/postfoot.png') bottom repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.post a {
	color: #FF981F;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}
.post a:hover {
	color: #000;
}
.post .title {
	height: 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 17px;
}
.post .posted {
	height: 10px;
	margin-top: -10px;
	margin-left: 2px;
	padding: 4px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}
.post .text {
	border-top: 1px dotted #E0E0E0;
	padding: 0px 0px;
}
/* Sidebar*/
.panel{
	float: right;
	width: 280px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.panel ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
	border: none;
}
.panel li {
	margin-bottom: 10px;
	padding: 0px 5px 5px 5px;
	background: #FFFFFF;
	border: 1px solid #8D9AB0;
	background: #fff url('images/postfoot.png') bottom repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.panel h2 {
	height: 32px;
	margin: 5px 0px 5px 0px;
	padding: 8px 0px 2px 15px;
	background: url('images/img05.png') repeat-x;
	text-transform: capitalize;
	font-weight: normal;
	color: #FFFFFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.panel fieldset {
	text-align: left;
	line-height: 150%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.panel fieldset legend {
	color:red;
	font-weight:bold;
}
.panel a {
	color: black;
	text-decoration: none;
}
.panel p {
	margin: 0;
	padding: 0px 10px;
	line-height: 150%;
	text-align: left;
	border-top: 1px dotted #E0E0E0;
}
/* LOGIN */
.user {
background: #fff url('images/icon_username.gif') 0px 2px no-repeat;
border: 1px solid #7F9DB9;
padding-left: 16px;
}
.pass {
background: #fff url('images/icon_password.gif') 0px 2px no-repeat;
border: 1px solid #7F9DB9;
padding-left: 16px;
}
/* Footer */
#footer {
	background: url('images/right.gif') repeat-x;
	height: 52px;
}
.footext, .footext a{
	padding-top: 12px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.page {
	border: 1px solid #8D9AB0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}