body {
    background-color: rgb(238, 238, 238);
}
h1, h2, h3 {
    font-family: Georgia, serif;
}
img {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid black;
}
img:first-of-type {
    float:right;
    margin-left: 20px; 
}
img:nth-of-type(2) {
    float: left;
    margin-right: 20px;
}
blockquote {
    font-family: Georgia, serif;
    color: #979797;
    width: 50%;
    float:right;
    border-left: 2px solid #ccc;
    padding-left: 25px;
}
blockquote div{
    float: right;
    margin-top: 20px;
}
.page {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
header {
    border-bottom: 3px solid #ccc;
    flex-basis: 100%;
}
header h1 {
    text-transform: uppercase;
}
main {
    width: 75%;
}
aside {
    width: 20%;
    margin-left: 50px;
}
aside section a {
    color: rgb(0, 153, 0)
}
